body {
  background-color: #0f1a20;
}

.todo-list_item {
  width: 50%;
  border: 2px #6e9bb1 solid;
  border-radius: 8px;
  background-color: #6e9bb1;
  margin: auto;
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}

.todo-list_item div img {
  height: 2em;
  vertical-align: middle;
}

.todo-list_item div {
  display: flex;
  align-items: center;
}

.todo-list_item_done-button {
  
}

label {
  color: #6e9bb1;
  margin-left: 1em;
}

label ~ form {
  margin: 1em;
}

.error {
  border-radius: 1em;
  padding: 1em;
  border: 2px rgb(187, 14, 14) solid;
  background-color: rgb(102, 23, 23);
  color: white;
}