<!DOCTYPE html>
<html>
  <head>
    <title>rustpad</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.5"
      integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/index.css" />
  </head>
  <body>
    <label>Login</label>
    <form hx-post="/api/login" hx-swap="none">
      <input type="text" name="username" />
      <input type="text" name="password" />
      <input type="submit" />
    </form>
    <label>Create User</label>
    <form hx-post="/api/createUser">
      <input type="text" name="username" />
      <input type="text" name="password" />
      <input type="submit" />
    </form>
    <div id="error-anchor"></div>
  </body>
</html>
