<!DOCTYPE html>
<html lang="en">
  <head>
    <title>rustpad</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.5"
      integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/index.css" />
  </head>
  <body>
    <form hx-post="/login">
      <input type="text" name="username"/>
      <input type="text" name="password"/>
      <input type="submit"/>
    </form>
    <div id="todo-list_container" hx-trigger="load" hx-get="/todo">

    </div>
    <form class="todo-list_create-item_container" hx-post="/todo" hx-target="#todo-list_container" hx-swap="beforeend">
      <input type="text" name="description">
      <input type="submit">
    </form>
  </body>
</html>
