{% for todo_item in todo_items %}
<div class="todo-list_item">
  <p>{{ todo_item.item_description }}</p>
  <div>
    <input
      type="checkbox"
      {% if todo_item.is_complete %}
      checked
      {% endif %}
      value="done"
      class="todo-list_item_done-button"
      hx-patch="/api/todo/{{ todo_item.id }}?is_complete={{ !todo_item.is_complete }}"
      hx-target="closest .todo-list_item"
      hx-swap="outerHTML"
    />
    <img
      src="/static/trash-can.png"
      hx-delete="/api/todo/{{ todo_item.id }}"
      hx-target="closest .todo-list_item"
      hx-swap="delete"
    />
  </div>
</div>
{% endfor %}
